.quarterly-data-container {
    text-align: center;
  }
  
  .year-dropdown {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .quarterly-data-chart {
    display: flex;
    justify-content: space-around;
  }
  
  .quarter-data {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .quarter-data h2 {
    margin: 0 0 10px;
  }
  
  .quarter-data p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  